body {
    background-color: black;
    color: white;
}

header > h1 {
    text-align: center;
    color: chartreuse;
}

nav {
    display: inline-block;
    margin: 1px;
    width: 100%;
    text-align: center;
}

nav > a {
    margin: 5px;
    color: palegreen;
}

footer {
    background-color: chartreuse;
    color: black;
    text-align: center;
    font-weight: bolder;
    margin-bottom: -0;
}